/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Space+Grotesk&display=swap');

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Variables */
:root {
    --accent: #B22B27;
    --alt: rgb(73, 73, 73);
    --alt-accent: rgba(0, 0, 0, 0);
    --main-background: rgba(24, 24, 26, 0);
    --background: #00000000;
    --background-light: #00000000;
    --font: 'Lato';
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Preset */
*:not(i) {
    font-family: var(--font), cursive;
}

a {
    font-weight: 600;
    color: var(--alt-accent);
}

.background-media {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 110%;
    height: 110%;
    object-fit: cover;
    object-position: center;
    filter: brightness(30%);
}

.socials {
    height: 32px;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.socials svg {
    fill: var(--alt);
    height: 32px;
    width: 32px;
    transition: all 0.2s ease;
}

.extra {
    margin-left: 6px;
}

.socials svg:hover {
    transform: scale(1.05);
    fill: var(--accent);
    height: 32px;
    width: 32px;
}

a:hover {
    color: var(--accent);
    -webkit-transition: .2s ease-in-out color;
    -moz-transition: .2s ease-in-out color;
    -o-transition: .2s ease-in-out color;
    transition: .2s ease-in-out color;
}


body {
    background: var(--main-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 500;
    color: #f4f2fb;
    font-size: 5rem;
    position: relative;
    z-index: 1;
}

h1 span {
    display: inline-block;
    font-weight: 400;
    color: var(--accent);
}

@media (max-width: 992px) {
    h1 span {
        color: var(--accent);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 6rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #F4F2FB;
}

h3 {
    font-size: 2.25rem;
    font-weight: 500;
    color: #F4F2FB;
}

h4 {
    color: #F4F2FB;
    font-weight: 400;
    font-size: 1.5rem;
}

h6 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--accent);
    font-size: 1.2rem;
    font-weight: 700;
}

h7 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--alt);
    font-size: 1rem;
    font-weight: 400;
}

p {
    color: #8E8E9B;
}

.github {
    background-color: #3f3f47;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    padding-bottom: 16px;
}

.github img:hover {
    transform: scale(1.05);
    border-radius: 16px;
    border: 0.2rem solid var(--accent);
}

.gif {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.imagetitle {
    background-color: #3f3f47;
    
    padding: 16px;
    margin-bottom: 0;
}

.gifimage {
    transition: all 0.2s ease;
    width: 100%;
    border: 0rem solid var(--accent);
}

.gifimage:hover {
    border-radius: 16px;
    border: 0.2rem solid var(--accent);
}

.githubimage {
    transition: all 0.2s ease;
    border: 0rem solid var(--accent);

    width: 50%;

}

@media (min-width: 768px) { 
    .project-image {
        -webkit-mask-image: linear-gradient(to left, transparent 5%, black 30%, black 70%);
    }
}    

.row {
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.large-gap {
    gap: 25px;
}

.nowrap {
    flex-wrap: nowrap;
}

.company {
    width: 256px;
    height: 50px;

    position: absolute;
    bottom: 0rem;
    left: 0rem;

    padding-left: 24px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;

    background-image: linear-gradient( 80deg, rgba( 35, 35, 50, 1 ), rgba( 50, 0, 0, 0 ) );
}

.small {
    padding-left: 8px !important;
}

.company-image {
    background-repeat: no-repeat !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain;

    width: 150px;
    height: 32px;

}

.card {
    border: 0.2rem solid var(--background);
    border-radius: 8px;
    background: radial-gradient( ellipse at top, rgb( 48, 54, 75, 0.5 ) 20%, rgba( 22, 25, 36, 0.7 ) );
    box-shadow: 2px 2px 10px rgba( 0, 0, 0, 0.5 );
}

.smaller {
    font-size: 13px;
}

.circle {
    width: 15%;
    aspect-ratio: 1;
    border-radius: 1000px;   

    justify-content: center;
	align-items: center;
	align-content: stretch;

    transition: all 0.2s ease;
    flex-direction: column;
}

.circle:hover {
    transform: scale(1.05);
    border: 0.2rem solid var(--accent);
    background: radial-gradient( ellipse at top, rgb( 48, 54, 75, 1 ) 20%, rgba( 22, 25, 36, 0.7 ) );
}

.card > .image {
    border-radius: 0px;
}

.card-body {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.bigcard {
    border: 0.2rem solid var(--background);
    background: radial-gradient( ellipse at top, rgb( 48, 54, 75, 0.5 ) 20%, rgba( 22, 25, 36, 0.7 ) );
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba( 0, 0, 0, 0.5 );
}

.bigcard-body {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

a {
    text-decoration: none !important;
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Nav */
.navbar-brand img {
    border-radius: 9999px;
    width: 4rem;
    height: 4rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 1rem;
    color: #aaaaab;
    text-align: center;
}

@media (min-width: 992px) {
    .nav-item:last-child .nav-link {
        margin-right: 0;
    }
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0 auto;
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Hero */
header {
    background: radial-gradient( ellipse at bottom, rgba(0, 0, 0, 0), var(--main-background) );
    position: relative;
    overflow: hidden;
}

header > .container {
    padding: 4.6rem 0;
}

header img {
    position: absolute;
    height: 100%;
    z-index: 0;
}

header .left {
    left: -15rem;
    --animate-duration: 2s;
}

header .right {
    right: -20rem;
    --animate-duration: 2s;
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Intro */
.intro {
    position: relative;
}

.intro::after {
    content: '';
    display: block;
    position: absolute;

    background: radial-gradient( ellipse at top, rgba(0, 0, 0, 0), var(--main-background) );

    width: 100%;
    height: 150px;

    top: 0;
    left: 0;
    z-index: -2;
}

.intro > div:first-child {
    width: 50%;
}

@media (max-width: 992px) {
    .intro > div:first-child {
        width: 100%;
    }

    .intro {
        flex-direction: column;
    }

    .intro > div:nth-child(2) {
        text-align: center;
        padding-top: 3rem;
    }

    .intro > div:nth-child(2)::after {
        content: '';
        display: block;
        width: 4rem;
        height: 3px;
        background: #42424c;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
}

.intro > div:nth-child(2) {
    width: 100%;
    margin-right: auto;
}

@media (min-width: 992px) {
    .intro > div:nth-child(2) {
        max-width: 480px;
    }

    .intro .image {
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    .intro .image::after {
        content: '';
        display: block;
        position: absolute;

        background: #32323A;
        width: 150px;
        height: calc(100% + 20px);

        right: -10px;
        top: -10px;
        z-index: -1;
    }
}

@media (min-width: 1200px) {
    .intro > div:nth-child(2) {
        max-width: 570px;
    }
}

@media (min-width: 1400px) {
    .intro > div:nth-child(2) {
        max-width: 670px;
    }
}

@media (min-width: 1600px) {
    .intro > div:nth-child(2) {
        max-width: 770px;
    }
}

.intro h2 span {
    color: var(--accent);
}

.intro .sizzle {
    position: relative;
    height: 309px;

    background: url(../img/frontpage_sizzle.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-mask-image: linear-gradient(to left, transparent 2%, black 10%, black 70%);
    filter: brightness(70%);
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* About Me */
.about {
    padding: 5rem 0 10rem 0;
}

@media (min-width: 992px) {
    .about {
        padding: 10rem 0;
    }
}

.about .row.main > div:first-child p {
    font-size: 18px;
    line-height: 1.75;
}

@media (min-width: 992px) {
    .about .row.main > div:nth-child(2) {
        padding-left: 6rem;
    }
}

@media (max-width: 992px) {
    .hide-on-mobile {
        display: none; /* Hidden by default */
    }
}

.about .card {
    position: relative;
}

.about .card::after {
    content: '';
    display: block;
    position: absolute;

    height: 100%;
    width: 100%;
    border: 5px solid #212126;
    border-radius: 8px;

    bottom: -1rem;
    right: -1rem;
    z-index: -1;
}

.about img {
    position: absolute;
    top: -.75rem;
    left: -.75rem;
    z-index: -1;
}

.about h2 {
    color: var(--alt-accent);
    font-size: 3.25rem;
}

.about .subtext {
    color: #8E8E9B;
    text-transform: uppercase;
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Showcase */
.showcase .image {
    border-radius: 0px;
    overflow: hidden;
    border-right: 3px solid var(--background);
}

.showcase a {
    color: var(--accent) !important;
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Project */
.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    transition: all 0.2s ease;
}

@media (min-width: 768px) {
    .project > * {
        flex-basis: 50%;
        width: 50%;
    }
}

.project .card-body {
    display: flex;
    flex-direction: column;
}

.project .card-body p:nth-child(2) {
    flex-grow: 1;
}

.project:hover {
    transform: scale(1.02);

    cursor: pointer;
    border: 0.2rem solid var(--accent);
    border-radius: 8px;
    background: radial-gradient( ellipse at top, rgb( 48, 54, 75, 1 ) 20%, rgba( 22, 25, 36, 0.7 ) );
}

.project .image {
    background-repeat: no-repeat !important;
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 15rem;
}

.video-container {
    width: 100%    !important;
    height: 100%   !important;
}

.video-container iframe,
.video-container object,
.video-container embed {
    background-repeat: no-repeat !important;
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 14rem;
}


embed {
    height: 66.6rem;
}
@media (max-width: 768px) {
    .project {
        flex-direction: column;
    }
}

.hyper {
    transition: all 0.2s ease !important;
}

.hyper:hover {
    margin-top: 16px;
    transform: scale( 1.25 );

    color: var(--alt-accent);
    border-bottom: 2px solid var(--alt-accent);
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Projects */
.projects > div:not(last-child) {
    margin-bottom: 1.5rem;
}

@media (max-width: 1024px) {
    .projects > div:nth-last-child(2) {
        margin-bottom: 1.5rem;
    }
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Post */
.post .image {
    border: 10px solid #3e3e48;
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Footer */
footer {
    background: #212126;
    margin-top: auto !important;
}

footer a {
    display: block;
    color: #45454B;
}

footer a:hover {
    color: var(--accent);
    -webkit-transition: .2s ease-in-out color;
    -moz-transition: .2s ease-in-out color;
    -o-transition: .2s ease-in-out color;
    transition: .2s ease-in-out color;
}

footer h4 {
    color: #8E8E9B;
    font-weight: 500;
    font-size: 1.125rem;
}

footer svg {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* Grid */
@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }
}

  .circular--square {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }

  html {
    scroll-behavior: smooth;
  }

  #myBtn {
    opacity: 0;
    transition: all 0.4s;
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0); /* Set a background color */
    color: var(--accent); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

  #myBtn.visible {
    opacity: 1;
    transition: all 0.4s;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.tag {
    opacity: 0;
    transform: translate(-5vh, 5vh);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}


.gallery-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-list .gallery-item {
    transition: all 0.2s ease;
}

.gallery-list .gallery-item:hover {
    transform: scale(1.2);
}


.gallery-list .gallery-item img {
    box-shadow: 0px 0px 15px rgba( 0, 0, 0, 0.5 );
    border-radius: 4px;
    transition: all 0.2s ease;
    width: 28rem;
    aspect-ratio: 1.7777;
    object-fit: cover;
}

.gallery-list .gallery-item h6 {
    padding: 8px;
    font-size: 16px;
    text-shadow: 2px 2px 5px var(--background);
    color: var(--accent);
}

.gallery-list .gallery-item img:hover {
    border: 4px solid var(--accent);
    border-radius: 16px;
    box-shadow: 0px 0px 50px var(--accent);

    cursor: pointer;
}